<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="../../static/css/loading.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kavoon:wght@400&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" />

    <title>make me study | Processing</title>
    <link rel="shortcut icon" href="../../static/assets/logo.ico" type="image/x-icon">
  	
  	
  	
</head>
<body>
  	
  	<div class="processing">
    		<div class="logo">
      			<img class="logo-icon" alt="" src="../../static/assets/logo.png">
      			
      			<div class="make-me-study">make me study</div>
    		</div>
    		<div class="your-study-plan-is-on-the-way-parent">
      			<div class="make-me-study">Your study plan is on the way...</div>
      			<div class="group-parent">
        				<div class="ellipse-parent">
          					<div class="group-child">
          					</div>
          					<div class="parsing-your-document">Parsing your document</div>
        				</div>
        				<div class="ellipse-group">
          					<div class="group-child">
          					</div>
          					<div class="parsing-your-document">Understanding content</div>
        				</div>
        				<div class="ellipse-container">
          					<div class="group-child">
          					</div>
          					<div class="parsing-your-document">Creating study plan</div>
        				</div>
        				<div class="group-div">
          					<div class="group-child">
          					</div>
          					<div class="parsing-your-document">Finalizing</div>
        				</div>
      			</div>
    		</div>
  	</div>
  	
  	
  	
  	
</body>
</html>