<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <link rel="stylesheet" href="../../static/css/study_plan.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kavoon:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" />

    <title>make me study | Study Plan</title>
    <link rel="shortcut icon" href="../../static/assets/logo.ico" type="image/x-icon">



</head>

<body>

    <div class="cotent-summary">
        <div class="logo-parent">
            <div class="logo">
                <img class="logo-icon" alt="" src="../../static/assets/logo.png">
                <div class="make-me-study">make me study</div>
            </div>
            <div class="group-parent">
                <div class="frame-parent">
                    <div class="group-wrapper">
                        <div class="rectangle-parent">
                            <div class="group-child">
                            </div>
                            <div class="content-summary">Content Summary</div>
                        </div>
                    </div>
                    <div class="rectangle-group">
                        <div class="group-child">
                        </div>
                        <b class="download">Study Plan</b>
                    </div>
                </div>
                <div class="rectangle-container">
                    <div class="group-inner">
                    </div>
                    <div class="download">Download</div>
                </div>
            </div>
        </div>
        <div class="what-is-lorem-ipsum-parent content-summary-container">
            <b class="make-me-study">What is Lorem Ipsum</b>
            <div class="lorem-ipsum-dummy-container">
                <ul class="lorem-ipsum-dummy-text-used-i">
                    <li class="lorem-ipsum-dummy">Lorem Ipsum: Dummy text used in the printing and typesetting industry.
                    </li>
                    <li class="lorem-ipsum-dummy">Origin: Began in the 1500s when an unknown printer scrambled a galley
                        of type to create a specimen book.</li>
                    <li class="lorem-ipsum-dummy">Longevity: Survived for over five centuries and adapted to electronic
                        typesetting.</li>
                    <li class="lorem-ipsum-dummy">Popularity: Gained widespread use in the 1960s with Letraset sheets.
                    </li>
                    <li>Modern Use: Continued popularity with desktop publishing software like Aldus PageMaker.</li>
                </ul>
            </div>
        </div>
        <div class="what-is-lorem-ipsum-parent study-plan-container">
            <b class="what-is-lorem">What is Lorem Ipsum</b>
            <div class="group-container">
                <div class="day-1-parent">
                    <div class="day-1">Day 1</div>
                </div>
                <b class="schedule">Schedule</b>
            </div>
            <div class="goals-parent">
                <b class="goals">Goals</b>
                <div class="i-will-be-container">
                    <ul class="i-will-be-able-to-explain-the">
                        <li class="i-will-be">I will be able to explain the origin and history of Lorem Ipsum in 5
                            minutes with 90% accuracy by the end of Day 1.</li>
                        <li class="i-will-be">I will be able to describe the main uses of Lorem Ipsum and identify at
                            least 2 variations of the text with 85% accuracy by the end of Day 2.</li>
                        <li>I will be able to summarize the main points of the provided text in my own words within 10
                            minutes with 80% accuracy by the end of Day 2."</li>
                    </ul>
                </div>
            </div>
            <div class="checklist-parent">
                <b class="goals">Checklist</b>
                <div class="frame-group">
                    <div class="frame-div">
                        <div class="frame-child">
                        </div>
                        <div class="make-me-study">Read the introduction to Lorem Ipsum</div>
                    </div>
                    <div class="rectangle-parent1">
                        <div class="frame-child">
                        </div>
                        <div class="make-me-study">Read the introduction to Lorem Ipsum</div>
                    </div>
                    <div class="rectangle-parent2">
                        <div class="frame-child">
                        </div>
                        <div class="make-me-study">Read the introduction to Lorem Ipsum</div>
                    </div>
                    <div class="rectangle-parent3">
                        <div class="frame-child">
                        </div>
                        <div class="make-me-study">Read the introduction to Lorem Ipsum</div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</body>

</html>