body {
    margin: 0;
    line-height: normal;
    background-color: #b6cbbd;
    font-family: Poppins, sans-serif;
}

.logo-icon {
    width: 50px;
    position: relative;
    height: 50px;
    object-fit: cover;
}
.make-me-study {
    position: relative;
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 25px;
    background-color: #cba35c;
    width: 300px;
    height: 50px;
}
.content-summary {
    position: absolute;
    top: 11.5px;
    left: 67px;
}
.rectangle-parent {
    width: 300px;
    position: relative;
    height: 50px;
}
.group-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.study-plan {
    position: absolute;
    top: 11.5px;
    left: 102.5px;
}
.frame-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    font-size: 18px;
    font-family: Poppins;
}
.logo-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
}
.lorem-ipsum-dummy {
    margin-bottom: 0px;
}
.lorem-ipsum-dummy-text-used-i {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: 24px;
}
.lorem-ipsum-dummy-container {
    align-self: stretch;
    position: relative;
    font-size: 18px;
}
.what-is-lorem-ipsum-parent {
    align-self: stretch;
    flex: 1;
    border-radius: 25px;
    border: 2px solid #000;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 50px;
    gap: 10px;
    font-family: Poppins;
}
.cotent-summary {
    width: 100%;
    position: relative;
    background-color: #b6cbbd;
    height: 832px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 100px;
    box-sizing: border-box;
    gap: 40px;
    text-align: left;
    font-size: 30px;
    color: #000;
    font-family: Kavoon;
}


.what-is-lorem-ipsum-parent::-webkit-scrollbar {
    display: none;

}

.what-is-lorem-ipsum-parent.study-plan-container {
    display: none;
}

.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 25px;
    background-color: #cba35c;
    width: 300px;
    height: 50px;
}
.content-summary {
    position: absolute;
    top: 11.5px;
    left: 67px;
}
.rectangle-parent {
    width: 300px;
    position: relative;
    height: 50px;
}
.group-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.rectangle-group {
    position: absolute;
    top: 60px;
    left: 0px;
    width: 300px;
    height: 50px;
}
.frame-parent {
    width: 300px;
    position: relative;
    height: 110px;
}
.group-inner {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 25px;
    background-color: #754e1a;
    width: 300px;
    height: 50px;
}
.download {
    position: absolute;
    top: 11.5px;
    left: 102.5px;
}
.rectangle-container {
    width: 300px;
    position: relative;
    height: 50px;
    color: #f8e1b7;
}
.group-parent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 18px;
    font-family: Poppins;
}
.logo-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
}
.what-is-lorem {
    position: relative;
    font-size: 30px;
}
.day-1 {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 48px;
}
.group-icon {
    position: absolute;
    top: 37px;
    left: 0px;
    width: 640px;
    height: 74.2px;
}
.day-1-parent {
    position: absolute;
    top: 40px;
    left: 0px;
    width: 640px;
    height: 111.2px;
}
.schedule {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 20px;
}
.group-container {
    width: 640px;
    position: relative;
    height: 151.2px;
    flex-shrink: 0;
    font-size: 18px;
}
.goals {
    position: absolute;
    top: 0px;
    left: 0px;
}
.i-will-be {
    margin-bottom: 0px;
}
.i-will-be-able-to-explain-the {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: 24px;
}
.i-will-be-container {
    position: absolute;
    top: 40px;
    left: 0px;
    font-size: 18px;
    display: inline-block;
    width: 640px;
}
.goals-parent {
    width: 640px;
    position: relative;
    height: 256px;
    flex-shrink: 0;
}
.frame-child {
    width: 18px;
    position: relative;
    background-color: rgba(217, 217, 217, 0);
    border: 2px solid #000;
    box-sizing: border-box;
    height: 18px;
}
.frame-div {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.rectangle-parent1 {
    position: absolute;
    top: 37px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.rectangle-parent2 {
    position: absolute;
    top: 74px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.rectangle-parent3 {
    position: absolute;
    top: 111px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.frame-group {
    position: absolute;
    top: 40px;
    left: 0px;
    width: 367px;
    height: 138px;
    font-size: 18px;
}
.checklist-parent {
    width: 367px;
    position: relative;
    height: 178px;
    flex-shrink: 0;
}
.what-is-lorem-ipsum-parent {
    align-self: stretch;
    flex: 1;
    border-radius: 25px;
    border: 2px solid #000;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 50px;
    gap: 10px;
    font-size: 20px;
    font-family: Poppins;
}
.study-plan {
    width: 100%;
    position: relative;
    background-color: #b6cbbd;
    height: 832px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 100px;
    box-sizing: border-box;
    gap: 40px;
    text-align: left;
    font-size: 30px;
    color: #000;
    font-family: Kavoon;
}



